body {
	padding: 0px;
  background: -webkit-radial-gradient(green 0%, black 80%); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(green 0%, black 80%); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(green 0%, black 80%); /* For Firefox 3.6 to 15 */
  background: radial-gradient(green 0%, black 80%); /* Standard syntax */
  font-family: 'Press Start 2P', monospace;
	color: white;
}

object {
	pointer-events:none
}

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}

#loginform label {
	display: block;
	font-size: 1em;
	font-weight: bold;
	color: white;
	margin-bottom: 3px;
}

#simple-canvas {
	z-index: 100;
	position: absolute;
	height:270px;
	left: 248px;
	top:80px;
}

.container {
	margin: 0 auto;
	width: 920px;
	text-align: center;
}

.holder  {
	margin: 0 auto;
	position: relative;
}

.shine {
	position: absolute;
	top: 80px;
	left:240px;
	z-index: 200;
}

.button {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  padding: 12px 26px 12px 26px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
	font-family: 'Press Start 2P', monospace;
}
.button:hover {
  background-color: #FF4500;
}

.table {
  position: absolute;
  width:1300px;
  top: 150px;
  left:-200px;
  z-index: -1;
}
.bottle {
  position: absolute;
  top: 270px;
  left:800px;
  z-index: 180;
}
.lava {
  position: absolute;
  top: 180px;
  left:-35px;
  z-index: 180;
}
.computer {
  z-index: 200;
}
.txtfield {
  display: block;
  width: 100%;
  padding: 6px 5px;
  margin-bottom: 15px;
  font-family: 'Press Start 2P', monospace;
  font-size: 1.1em;
  background-color: #fff;
  border: 1px solid black;
  border-color: #abbce8 #c3cae0 #b9c8ef;
  border-radius: 4px;
  transition: all 0.25s linear;
}

.txtfield:focus {
  outline: none;
  border-color: black;
}

.left-victory {
  float: left;
}

.victory-img {
  margin: 50px 0 0 20px;
  height: 200px;
}

.right-victory {
  float: right;
}

.right-victory-text {
  position: absolute;
  top: 50%;
  margin-left: 20px;
}
